.myskills {
  font-family: "Monserrat";
  font-size: 39px;
  color: #66bfbf;
  display: flex;
  justify-content: center;
  margin-top: 97px;
  padding-bottom: 110px;
}
.customerservice {
  position: absolute;
  left: 207px;
  width: 580px;
}

.customertitle {
  position: absolute;
  left: 224px;
  font-family: "Monserrat";
  font-size: 18px;
  color: #66bfbf;
  padding-bottom: 25px;
  top: 0px;
}

.customerimage {
  position: absolute;
  width: 580px;
  left: -3px;
}

.firsttext {
  font-family: merriweather;
  font-size: 16px;
  color: #40514e;
  position: absolute;
  left: 225px;
  top: 35px;
}

.mothersection {
  padding-left: 214px;
  padding-top: 170px;
}
.secondtext {
  font-family: merriweather;
  font-size: 16px;
  color: #40514e;
  padding-top: 10px;
}
.momtitle {
  font-family: "Monserrat";
  font-size: 18px;
  color: #66bfbf;
  padding-top: 94px;
  padding-left: 34px;
}

.momimage {
  position: absolute;
  padding-left: 380px;
}
